.Container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
img {
  width: 500px;
  margin: auto;
}

h1 {
  padding: 20px;
}
h2 {
  justify-self: left;
}
p {
  justify-self: left;
  padding: 10px;
}
.Container-Two {
  display: flex;
  flex-direction: row;
}

.Info-Container {
  padding: 20px;
  max-width: 500px;
}
