.Container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.DetailImg {
  width: 500px;
  margin: 20px;
  /* padding: 20px; */
  border-radius: 20px;
}

.DetailH1 {
  padding: 20px;
}
.DetailH2 {
  padding: 10px;
  justify-self: left;
}
.DetailParagraph {
  justify-self: left;
  padding: 10px;
  text-align: left;
}
.DetailList {
  padding: 10px;
  text-align: left;
}
.Container-Two {
  display: flex;
  flex-direction: row;
  background-color: #1b1b1b;
  border-radius: 20px;
}

.Info-Container {
  padding: 20px;
  max-width: 500px;
}
